@import "../../cfonts.css";
.main-container-signin {
    position: absolute;
    height: 360px;
    width: 650px;
    background-color: #F7F7F8;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 30px;
}

.signin-text-content{
    height: 15%;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signin-title{
    width: 100%;
    text-align: center;
    font-size: 32px;
    font-family: Arvo, sans-serif;
    font-weight: bold;
    color: #00ADB5;
}

.signin-text{
    width: 60%;
    color: #393E46;
    text-align: center;
    font-family: Arvo, sans-serif;
    font-size: 12px;
}

.signin-form{
    height: 60%;
    width: 85%;
    display: flex;
    flex-direction: column;
}

.signin-inputs{
    height: 70%;
    width: 100%;
    display: inline;
    flex-direction: column;
    justify-content: space-evenly;
}

.signin-input{
    height: 29%;
    width: 100%;
    margin-top: 15px;
    padding-left: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    color: #393E46;
}

.email{
    background: url(../../images/email.svg) no-repeat scroll 7px 15px;
    padding-bottom: 2px;
}
.user{
    background: url(../../images/user.svg) no-repeat scroll 7px 12px;
}
.password{
    background: url(../../images/password.svg) no-repeat scroll 7px 11.5px;
}

.signin-create{
    height: 35%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.signin-button{
    height: 85%;
    width: 70%;
    color: white;
    border: 0;
    font-size: 20px;
    font-family: Arvo, sans-serif;
    border-radius: 15px;
    background-color: #00ADB5;
}

.login-link{
    margin-top: 10px;
    text-decoration: none;
    color: #393E46;
    font-family: Arvo, sans-serif;
    font-size: 11px;
}
.login-link:hover{
    cursor: pointer;
    color: #00ADB5;
}

.signin-button:active {
    transform: scale(0.95);
    transition: transform 5s;
}

.signin-button:hover {
    background-color: #00858C;
    transition: background-color 0.2s;
}
