.queues-container{
    height: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.queues-info{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    margin-top: 50px;
}


.info-button{
    height: 100%;
    width: 20%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25);
    background-color: #222831;
    display: flex;
    align-items: center;
    justify-content: center;
}

.queue-name-text{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 10px 0 10px;
    font-size: 23px;
    color: #00ADB5;
    font-family: 'Arvo' , sans-serif;
}

.queue-name-text:hover {
    overflow: visible;
    white-space: normal;
    text-overflow: clip;
}

.count{
    width: 30%;
    padding: 0 15px 0 15px;
    justify-content: space-evenly;
}

.info-counter{
    height: 30px;
    width: 45px;
    background-color: #00ADB5;
    font-size: 20px;
    text-align: center;
    color: white;
    border-radius: 10px;
    font-family: sans-serif;
}

.description{
    padding: 0 15px 0 15px;
    justify-content: space-evenly;
}

.description-image{
    background: url("../../images/darrow.svg");
    height: 30px;
    width: 30px;
}

.users-container{
    min-height: 200px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.queue-button-container{
    height: 80px;
    width: 50%;
    margin-top: 50px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.queue-button{
    height: 60%;
    width: 60%;
    background: #00ADB5;
    color: white;
    font-family: 'Arvo' , sans-serif;
    font-size: 18px;
    border: none;
    border-radius: 15px;
}

.leave-queue-button{
    height: 60%;
    width: 60%;
    background: #FA6159;
    color: white;
    font-family: 'Arvo' , sans-serif;
    font-size: 18px;
    border: none;
    border-radius: 15px;
}

.user-container{
    background-color: #F7F7F8!important;
}

.button-skeleton {
    width: 60%;
    height: 60%;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        background-color: rgba(0, 0, 0, 0.1);
    }
    50% {
        background-color: rgba(0, 0, 0, 0.2);
    }
    100% {
        background-color: rgba(0, 0, 0, 0.1);
    }
}

@media (max-width: 720px) {

    .queues-info{
        align-items: center;
        margin: 0;
    }

    .count{
        background: none;
    }

    .info-counter{
        height: 60%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        border-radius: 35px;
    }
    .t-counter{
        display:none;
    }
    .name, .description{
        width: 35%;
        height: 60%;
        border-radius: 35px;
    }

    .queue-name-text{
        font-size: 14px;
        padding: 0;
    }

    .description-image{
        display: none;
    }

    .users-container{
        flex-direction: column;
        min-height: 175px;
    }

    .queue-button-container{
        width: 100%;
    }
}
