.about-wrapper{
    min-height: 400px;
    width: 55%;
    display: flex;
    flex-direction: column;
}

.about-container{
    min-height: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgba(0,0,0,0.2);
}

.about-container-title{
    height: 100%;
    width: 100%;
    display: flex;
    padding: 0 10px 0 10px;
    align-items: center;
    justify-content: space-between;
}

.about-container-text{
    font-size: 15px;
    margin: 0;
    font-family: 'Arvo', sans-serif;
    color: #00ADB5;
}

.about-container-button{
    color: #222831;
    font-size: 30px;
    font-family: 'Arvo' , sans-serif;
    margin: 0 0 5px 0;
    user-select: none;
}

.about-container-button:hover{
    cursor: pointer;
}

.about-container-details{
    width: 90%;
    padding: 0 10px 0 10px;
    color: #DDE1E6;
    font-family: 'Arvo', sans-serif;
    font-size: 13px;
    margin-bottom: 20px;
    /*overflow: hidden;*/
}

.about-correction{
    border-top: 0;
}

.hidden{
    display: none;
}

@media (max-width: 700px) {
    .about-wrapper{
        display: none;
    }
}
