.home-card{
    min-height: 400px;
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    margin-left: 100px;
    margin-bottom: 50px;
}

@media (max-width: 900px) {
    .home-card{
        width: 95%;
        margin: 0;
    }
}
