@import '../../cfonts.css';
.footer{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-top: 60px;
    height: 60px;
    bottom: 0;
    left: 0;
    background: #222831;
    z-index: 5;
}
.switch-lang{
    height: 21px;
    width: 49px;
    border: 0;
    color: white;
    font-family: Arvo, sans-serif;
    font-size: 12px;
    text-align: center;
    background: #00ADB5;
    border-radius: 32px;
    margin-right: 10px;
}
