@import '../../cfonts.css';
.header {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    margin-bottom: 10px;
    background: #222831;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 6;
}

.left-side{
    height: 100%;
    width: 215px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hamburger-menu{
    height: 34px;
    width: 34px;
    color: #00ADB5;
}

.hamburger-menu-button {
    background-color: transparent;
    border: none;
}

.left-side :hover{
    cursor: pointer;
    color: #00ADB5;
}

.logo{
    width: 171px;
    height: 24px;
    font-family: 'Arvo', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 150%;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #00ADB5;
}
.right-side{
    height: 25px;
    width: 25px;
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.right-side-bigger{
    position: absolute;
    display: flex;
    justify-content: right;
    align-items: center;
    right: 0;
    width: 30%;
}

.user-icon{
    height: 100%;
    width: 100%;
    color: #00ADB5;
}

.right-side :hover{
    cursor: pointer;
}

.signInButton {
    position: relative;
    padding: 0;
    width: 20%;
    margin-right: 10px;
    height: 40px;
    background-color: #00ADB5;
    color: #00ADB5 !important;
    border: none !important;
}

.signUpButton {
    border-radius: 20px !important;
    position: relative;
    padding: 0;
    width: 30%;
    margin-right: 10px;
    height: 40px;
    background-color: #00ADB5 !important;
    color: #F7F7F8 !important;
    border: none !important;

}

.signUpButton:hover {
    background-color: #21B7A9 !important;
}

@media (max-width: 700px){

    .logo{
        font-size: 23px;
    }

    .hamburger-menu{
        height: 30px;
        width: 30px;
    }

    .right-side-bigger{
        display: none;
    }

    .header{
        margin-bottom: 15px;
    }
}
